<footer class="page-footer center-on-small-only">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <h5 class="title">{{ site.title | escape }}</h5>
        <p>{{ site.description | escape }}</p>
      </div>
      <hr class="hidden-md-up">
      <div class="col-lg-4 col-md-4">
        <h5 class="title">Contact</h5>
        <ul>
        {% if site.email %}
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        {% endif %}
        {% if site.github_username %}
        <li>{% include icon-github.html username=site.github_username %}</li>
        {% endif %}
        {% if site.twitter_username %}
        <li>{% include icon-twitter.html username=site.twitter_username %}</li>
        {% endif %}
      </ul>
    </div>
    <hr class="hidden-md-up">
    <div class="col-lg-4 col-md-4">
      <h5 class="title">Misc</h5>
        © 2017 {{ site.author }}
        <br/>
        Made with love in Brisbane and Basingstoke
      </div>
    </div>
  </div>
</footer>
