<header>
  {% assign default_paths = site.pages | map: "path" %}
  {% assign page_paths = site.header_pages | default: default_paths %}
  <nav class="navbar navbar-toggleable-md navbar-dark">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-brand">
        <strong>{{ site.title | escape }}</strong>
      </div>
      {% if page_paths %}
      <div class="collapse navbar-collapse" id="navbarNav1">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ "/" }}">Home</a>
          </li>
          {% for link in site.external_links %}
          <li class="nav-item">
            <a class="nav-link" href="{{ link.url | escape }}">{{ link.title | escape }}</a>
          </li>
          {% endfor %}
          {% for path in page_paths %}
          {% assign my_page = site.pages | where: "path", path | first %}
          {% if my_page.status == "live" %}
          <li class="nav-item">
            <a class="nav-link" href="{{ my_page.url }}">{{ my_page.title | escape }}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </nav>
</header>
